<script src="room.js"></script>

<body onload="askUser()">
<h1> Room </h1>
<p>This is a demo of chatroom page</p>
<p>
    The room you are visiting is {{ roomName }}.
</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<form action="/newMessage" method="POST">
<input type="text" name="message" placeholder="Type a message"/>
<input type="submit" value="Post Message"/>
</form>
</body>